<div *ngFor="let curdata of formData">
	<mat-form-field>
<input matInput [(ngModel)]="locationData[curdata.key]" placeholder="{{curdata.placeholder}}" [matAutocomplete]="auto" [formControl]="curdata[curdata.key]">
<!-- <input matInput [(ngModel)]="locationData[curdata.key]" placeholder="{{curdata.placeholder}}" [matAutocomplete]="auto" > -->
		<mat-autocomplete #auto="matAutocomplete" (optionSelected)="getData(curdata)">
			<mat-option *ngFor="let options of curdata['filterData'+curdata['key']] | async" [value]="options[curdata.prop]" >
				<span>{{options[curdata.prop]}}</span>
			</mat-option>
		</mat-autocomplete>
	</mat-form-field>
</div>